{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

   {% if error %}
       <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
   {% endif %}


   {{ form_start(loginForm) }}
   {{ form_widget(loginForm) }}
   <button class="btn btn-primary" type="submit">Se connecter</button>
   {{ form_end(loginForm) }}

{% endblock %}
